<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/wp-portfolio">Will Panowyk</a>. Will is learning how to think like a developer with the help of University of Arizona.
  </p>
  <p>
    Will's version of Splurty is designed to give random tips for Arizona homeowners.
  </p>

  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here </a>. 
  </p>
  
  <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'me.jpg', class: 'img-fluid' %>
      </div>
      
      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Will Panowyk</h2>
        <br />
        <p>
            He is currently an insurance agent for his family's agency, but has decided to push the business to the next level by learning web development. 
            Mixing a background in the insurance industry with web development knowledge, he sees this as a massive growth opportunity both for the business and as an individual.
        </p>
      </div>
    </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

