@font-face {
    font-family: 'chantelli_antiquaregular';
    src: font_url('chantelli_antiqua-webfont.woff2') format('woff2'),
         font_url('chantelli_antiqua-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}